---
import Hero from '../components/Hero.astro';
import Header from '../components/Header.astro';
import Testimonials from '../components/Testimonials.astro';
import Layout from '../layouts/Layout.astro';
import Comparation from '../components/Comparation.astro';
import Quote from '../components/Quote.astro';
import Calendly from '../components/Calendly.astro';
import Faqs from '../components/Faqs.astro';
---

<Layout>
	<Header />
	<Hero />
	<Testimonials />
	<Comparation />
	<Quote />
	<Calendly />
	<Faqs />
	<p class="text-[#111]/60 text-center pb-[40px]">© Tomás Costa Landing Pages 2025. Todos los derechos reservados.</p>
</Layout>
