<section class="py-[80px] md:pt-0 md:pb-[40px] px-4">
	<!-- Calendly inline widget begin -->
	<div
		class="calendly-inline-widget"
		data-url="https://calendly.com/tomascostapp/30min?hide_gdpr_banner=1"
		style="min-width:320px;height:700px;"
	>
	</div>
	<script
		type="text/javascript"
		src="https://assets.calendly.com/assets/external/widget.js"
		async></script>
	<!-- Calendly inline widget end -->
</section>
