<section class="py-[100px]">
	<div class="tc-container">
		<div class="flex flex-col-reverse md:flex-row gap-8 items-center">
			<div>
				<span class='luta-overtitle block w-fit mb-4 mx-auto md:mx-0'>Visitas -&gt; Potenciales Compradores</span>
				<h2 class="luta-subtitle text-center md:text-start max-w-[600px] mb-4">
					Aumenta la posibilidad de que cada <span class="text-indigo-300">visita</span> sea un nuevo <span class="text-indigo-600">cliente</span>
				</h2>
				<p class="max-w-[430px] text-center md:text-start mb-8 text-[16px] leading-6 text-gray-600">
				Transforma cada visita en una oportunidad de venta con una página web profesional que destaca tu negocio. Fácil, rápido y profesional.
				</p>
				<a 
					onclick="handleClick"
					class="luta-btn --fbq mx-auto md:mx-0 mt-8 gap-1 items-center" 
					href="https://wa.me/542616841853?text=Hola%20Tomi%2C%20%C2%BFC%C3%B3mo%20Est%C3%A1s%3F%20Me%20interesa%20saber%20m%C3%A1s%20sobre%20tu%20servicio.%20Estoy%20buscando..."
				>
					Consulta Gratuita »
				</a>
			</div>
			<div>
				<img class="object-contain mx-auto w-full max-w-[700px]" src="/images/luta-funnel-scheme.png" alt="Convierte visitas en clientes con LUTA Webs" />
			</div>
		</div>
	</div>
</section>