---
const preguntas = [
  {
    pregunta: "¿Qué pasa si no tengo conocimientos técnicos?",
    respuesta: "No necesitas conocimientos técnicos. Nos encargamos de todo el diseño y configuración para que solo tengas que enfocarte en tu negocio."
  },
  {
    pregunta: "¿Cuánto tiempo toma tener mi landing page lista?",
    respuesta: "En solo unos días tendrás tu landing page optimizada y lista para convertir visitantes en clientes."
  },
  {
    pregunta: "¿Puedo hacer cambios en la landing page después de creada?",
    respuesta: "Sí, ofrecemos opciones de actualización y mantenimiento para que siempre tengas tu landing page al día."
  },
  {
    pregunta: "¿Qué beneficios tiene una landing page frente a una web tradicional?",
    respuesta: "Las landing pages están diseñadas para maximizar conversiones, enfocándose en una sola acción específica sin distracciones."
  },
  {
    pregunta: "¿Es compatible con anuncios en Google y redes sociales?",
    respuesta: "Sí, optimizamos tu landing page para que tenga el mejor rendimiento en campañas publicitarias."
  },
  {
    pregunta: "¿Qué pasa si no obtengo resultados con mi landing page?",
    respuesta: "Analizamos y ajustamos la estrategia para mejorar el rendimiento y asegurarnos de que logres más conversiones."
  }
];
---

<section id="faqs" class="relative py-[80px] px-4">
  <div class="container mx-auto">
    <h2 class="text-2xl font-bold mb-8 text-center">Preguntas Frecuentes</h2>
    <div class="max-w-2xl mx-auto">
      {preguntas.map((item, index) => (
        <details class="mb-4 bg-primary p-5 border-b last:border-b-0 border-[#111]/50 mx-auto">
          <summary class="text-lg text-[#111] flex justify-between items-center cursor-pointer">
            {item.pregunta}
            <svg class="md:block hidden" width="20" height="20" fill="#111" viewBox="0 0 448 512">
              <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
            </svg>
          </summary>
          <p class="text-[#111]/80 mt-2 text-start">{item.respuesta}</p>
        </details>
      ))}
    </div>
  </div>
</section>
