<header>
	<div class="absolute -z-10 opacity-20 h-screen w-full bg-white">
		<div
			class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)]"
		>
		</div>
	</div>
	<div class="relative z-50 tc-container py-4">
		<div class="flex items-center justify-between">
			<a href="/">
				<img
					class="h-[38px] w-[30px] overflow-hidden object-cover object-left"
					src="/images/luta-logo.webp"
					alt="Tomas Costa Landing Pages"
				/>
			</a>
			<nav class="hidden md:block">
				<a class="luta-btn --fbq" target="_blank" href="https://wa.me/542616841853?text=Hola%20Tomi%2C%20%C2%BFC%C3%B3mo%20Est%C3%A1s%3F%20Me%20interesa%20saber%20m%C3%A1s%20sobre%20tu%20servicio.%20Estoy%20buscando...">
					Agenda tu consulta ahora »
				</a>
			</nav>
		</div>
	</div>
</header>
