<section class="py-[60px] md:py-[80px] relative">
	<div class="tc-container">
		<div class="flex gap-8 flex-col md:flex-row items-center">
			<div class="max-w-[580px]">
				<span class="luta-overtitle mb-4 block w-fit">
					100% de los proyectos entregados con éxito
				</span>
				<h1
					class="mb-4 text-4xl font-bold leading-[115%] tracking-tight text-gray-900 sm:text-[42px]"
				>
					Creamos las mejores páginas web para <span
						class="text-indigo-600">emprendedores y profesionales online</span>
				</h1>
				<p class="max-w-[380px] mb-8 text-lg text-pretty leading-6 text-gray-600">
					Tu página web es uno de los puntos más importantes de tu
					negocio, nosotros hacemos que sea perfecta.
				</p>
				<a
					class="luta-btn gap-1 items-center"
					href="/utils/create-landing-page"
				>
					Consulta Gratuita »
				</a>
			</div>
		</div>
	</div>
	<div class="hidden absolute top-0 -right-[300px] xxl:-right-[220px] h-full md:flex items-center w-[70%] xxl:w-[60%] overflow-y-clip">
		<div class="grid grid-cols-3 rotate-[1.8deg] gap-2 group w-full">
			<div class="hover:scale-[102%] border transition-all border-[#11111130] bg-[#F8FCFF]">
				<img class="hover:opacity-100 group-hover:opacity-15 opacity-20 transition-all rounded-xs h-full" src="/images/tomascostalp-landing-ms.jpg" alt="Tomás Costa Landing Pages">
			</div>
			<div class="hover:scale-[102%] border transition-all border-[#11111130] bg-[#F8FCFF]">
				<img class="hover:opacity-100 group-hover:opacity-30 transition-all rounded-xs h-full" src="/images/tomascostalp-landing-bf.webp" alt="Tomás Costa Landing Pages">
			</div>
			<div class="hover:scale-[102%] border transition-all border-[#11111130] bg-[#F8FCFF]">
				<img class="hover:opacity-100 group-hover:opacity-15 opacity-20 transition-all rounded-xs h-full" src="/images/tomascostalp-landing-af.jpg" alt="Tomás Costa Landing Pages">
			</div>
			<div class="hover:scale-[102%] border transition-all border-[#11111130] bg-[#F8FCFF]">
				<img class="hover:opacity-100 group-hover:opacity-30 transition-all rounded-xs h-full" src="/images/tomascostalp-landing-lr.jpg" alt="Tomás Costa Landing Pages">
			</div>
			<div class="hover:scale-[102%] border transition-all border-[#11111130] bg-[#F8FCFF]">
				<img class="hover:opacity-100 group-hover:opacity-15 opacity-20 transition-all rounded-xs h-full" src="/images/tomascostalp-landing-ac.jpg" alt="Tomás Costa Landing Pages">
			</div>
			<div class="hover:scale-[102%] border transition-all border-[#11111130] bg-[#F8FCFF]">
				<img class="hover:opacity-100 group-hover:opacity-30 transition-all rounded-xs h-full" src="/images/tomascostalp-landing-cp.jpg" alt="Tomás Costa Landing Pages">
			</div>
		</div>
		<div class="bg-[#F8FCFF] w-[150%] absolute h-[100px] -bottom-[50px] -left-[10%] blur-[18px]"></div>
	</div>
</section>
