---
import "../styles/global.css";
import '@fontsource-variable/inter';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Tomás Costa Landing Pages</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />		  
		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
		<!-- Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-DW8B9TX950"></script>
		<script src="/src/layouts/analytics.js"></script>
		<!-- Pixel -->
		<script src="/src/layouts/pixel.js"></script>
		<noscript>
			<img 
				height="1" width="1" 
				src="https://www.facebook.com/tr?id=1563000057901771&ev=PageView
				&noscript=1"
			/>
		</noscript>
		<!-- Hotjar -->
		<script src="/src/layouts/hotjar.js"></script>
	</head>
	<body>
		<slot />
	</body>
</html>
