---
import "../styles/global.css";
import '@fontsource-variable/inter';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Tomás Costa Landing Pages</title>
		<!-- Swiper -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />		  
		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
		<!-- Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-DW8B9TX950"></script>
		<script src="/src/layouts/analytics.js"></script>
		<!-- Pixel -->
		<script is:inline>
			!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window,document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '1563000057901771'); 
			fbq('track', 'PageView');
		</script>
		<noscript>
			<img 
				height="1" width="1" 
				src="https://www.facebook.com/tr?id=1563000057901771&ev=PageView
				&noscript=1"
			/>
		</noscript>
		<!-- Hotjar -->
		<script src="/src/layouts/hotjar.js"></script>

		<script>
			document.addEventListener("DOMContentLoaded", () => {

				const buttons = document.querySelectorAll('.--fbq');

				buttons.forEach(btn => {
					btn.addEventListener('click', (event) => {
						console.log('click')
						event.preventDefault(); // Evita la redirección inmediata

						(window as any).fbq?.('trackCustom', 'WhatsAppClick'); // Usa 'as any' para evitar el error de TypeScript

						const url = btn.getAttribute('href'); // Obtiene la URL del botón
						if (url) {
						setTimeout(() => {
							window.location.href = url; // Redirige después de un breve tiempo
						}, 300); // Da tiempo a que Facebook Pixel lo registre
						}
					});
				});
			});
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
