---
import "../styles/global.css";
import '@fontsource-variable/inter';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Tomás Costa Landing Pages</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />		  
		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	</head>
	<body>
		<slot />
	</body>
</html>
